.letse-canvas-editor{
    border: 1px solid black;
}

#rowB {
    position: relative;
}

.letse-maintoolbar{
    height: 50px;
    border: 1px solid rgb(0, 0, 0);
}

.letse-secondtoolbar{
    width: 50px;
    border: 1px solid rgb(0, 0, 0);
    float: right;
}

#letse-canvas-container{
    /* position: relative; */
    float: left;
}

#letse-canvas{
    border: 1px solid rgb(0, 0, 0);
    /* visibility: hidden; */
}

#letse-upper-canvas{
    position: absolute;
    /* top: 1px; */
    left: 0px;
    border: 1px solid;
    /* visibility: hidden; */
}

.tool{
    background-size: 100%;
    position: relative;
    float: right;
    width: 30px;
    height: 50px;
    cursor: pointer;
}